<%= form_with(model: transcript) do |form| %>
  <% if transcript.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transcript.errors.count, "error") %> prohibited this transcript from being saved:</h2>

      <ul>
        <% transcript.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :depo_date, style: "display: block" %>
    <%= form.date_field :depo_date %>
  </div>

  <div>
    <%= form.label :transcript_name, style: "display: block" %>
    <%= form.text_field :transcript_name %>
  </div>

  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
